.jumbotron{
  background-color: yellow;
  color: black;
  margin-top: 50px;
}
/* para darle el mismo ancho a las tarjetas de los hoteles */
.card-hotel{
  /* determinamos el ancho del elemento flex-wrap */
  /* se coloca 1 para declarar que mantenga su ancho. 2 para que pueda ocupar el doble de su ancho */
  flex: 1 200px;
  margin-top: 10px;
}
.btn-reserva{
  width: 100%;
  border-radius: 0px;
}
footer{
  padding: 10px 10px 0 10px;
  background-color: yellow;
  margin-top: 10px;
  margin-bottom: 0px;
}
.logotipos{
  width: 1.2em;
}
.tab-content{
  padding-top: 10px;
}